

{% if page_list %}

    <div id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators">
        {% for page in page_list %}
            {% ifequal forloop.counter0 0 %}
                <li class="active" data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}"></li>
            {% else %}
                <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}"></li>
            {% endifequal %}
        {% endfor %}
    </ol>
    <!-- Carousel items -->
    <div class="carousel-inner">
        {% for page in page_list %}
            {% ifequal forloop.counter0 0 %}
                <div class="active item">
            {% else %}
                <div class="item">
            {% endifequal %}

        <ul>

            {% for people in page %}

                <div class="span4">
                    <a class="people-link" title="{{ people.username }}" data-toggle="modal" data-target="#{{ category }}-modal"
                       people-id="{{ people.id }}">
                        <img class="img-circle"
                             src="http://www.gravatar.com/avatar/{{ people.userinfo.hash }}?s=50&d=mm">
                    </a>
                </div>
            {% endfor %}

        </ul>





        </div>
        {% endfor %}
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>


{% else %}
    <div class="alert alert-info"><p><strong>No people
        yet.</strong></p></div>
{% endif %}

