{% extends 'base.html' %}

{% block title %}Danmaku video - Manage Posts{% endblock %}


{% block content %}



    <div class="container-fluid block-menu">
        <div class="row-fluid">
            <div class="pull-left">
                <ul class="nav nav-tabs">
                    <li><a href="#Home" data-toggle="tab"><i class="icon-home"></i> Home</a></li>
                    <li><a href="#TV" data-toggle="tab">TV</a></li>
                    <li><a href="#Game" data-toggle="tab">Game</a></li>
                    <li><a href="#Cartoon" data-toggle="tab">Cartoon</a></li>
                    <li><a href="#Course" data-toggle="tab">Course</a></li>
                    <li><a href="#Favorite" data-toggle="tab" class="label"><i class="icon-heart"></i> Favorite</a></li>
                </ul>

            </div>


            <div class="btn-group pull-right">

                <button id="btn-new-post" class="btn btn-info" data-toggle="modal" data-target="#publish-modal">
                    <i class="icon-pencil"></i> New Post
                </button>

                <button id="sort-btn" class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                    Sort by <i class="icon-chevron-down"></i>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="sort-id">date</a></li>
                    <li><a class="sort-id">title</a></li>
                </ul>

            </div>


        </div>

    </div>


    <div class=" container-fluid block-content">


        <div class="tab-content">
            <div class="tab-pane" id="Home">


            </div>
            <div class="tab-pane" id="TV">


            </div>
            <div class="tab-pane" id="Game">


            </div>
            <div class="tab-pane" id="Cartoon">

            </div>
            <div class="tab-pane" id="Course">


            </div>
            <div class="tab-pane" id="Favorite">


            </div>
        </div>


    </div>

    <div id="publish-modal" class="modal hide fade" tabindex="-1">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>Add a post</h3>
        </div>
        <div class="modal-body" id="modal-body-publish">

        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" data-dismiss="modal">Close</button>
            <button class="btn btn-primary" id="btn-publish">Publish</button>
        </div>
    </div>

    <div id="edit-modal" class="modal hide fade" tabindex="-1">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>Edit a post</h3>
        </div>
        <div class="modal-body" id="modal-body-edit">

        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" data-dismiss="modal">Close</button>
            <button class="btn btn-primary" id="btn-save">Save</button>
        </div>
    </div>



    <script type="text/javascript">

        window['sort'] = 'date';
        window['post_id'] = ''; // Record the post we are editing


        function load_pane() {
            var category = $(".tab-pane.active").attr("id");
            $('.tab-pane.active').load(
                    "/ajax/posts/",
                    {
                        category: category,
                        sort: window['sort'],
                        personal: true
                    },
                    function (data) {
                        $(this).html(data);
                        $('.carousel').carousel();
                        if (category.toLowerCase() != 'favorite') {


                            var post_id;

                            // Add edit links
                            $('.lab-footer').each(function () {

                                post_id = $(this).attr("post-id");

                                $(this).after('<button class="btn btn-link btn-edit" data-toggle="modal" data-target="#edit-modal" post-id="' + post_id + '">Edit</button>');


                            });

                            $('.btn-edit').click(function () {

                                window['post_id'] = $(this).attr("post-id");


                                $('#modal-body-edit').load(
                                        "/post/" + window['post_id'] + "/edit/",
                                        function (data) {
                                            $(this).html(data);
                                        }
                                );


                            });


                        }
                    });


        }

        $(document).ready(function () {

            // Load the home pane

            $('.nav-tabs li:first').addClass('active');
            $('#Home').addClass("active");
            load_pane();

            // Switch tabs
            $('.nav-tabs li a').click(function () {

                setTimeout(function () {
                    load_pane();

                }, 100);


            });

            $('.sort-id').click(function () {

                window['sort'] = $(this).text();
                $('#sort-btn').text('Sort by ' + window['sort']);


                load_pane();


            });

            $('#btn-new-post').click(function () {


                $('#modal-body-publish').load(
                        "/post/publish/",
                        function (data) {
                            $(this).html(data);
                        }
                );
            });

            $('#btn-save').click(function () {

                $.post("/post/" + window['post_id'] + "/edit/",
                        $('#form-edit').serialize(),
                        function (data, status, xhr) {
                            if (xhr.status == '222')
                                $('#edit-modal').modal('hide');
                            else
                                $('#modal-body-edit').html(data);

                        });

            });

            $('#btn-publish').click(function () {


                $.post('/post/publish/',
                        $('#form-publish').serialize(),
                        function (data, status, xhr) {
                            if (xhr.status == '222')
                                $('#publish-modal').modal('hide');
                            else
                                $('#modal-body-publish').html(data);

                        });

            });


            //Refresh immediately after publish/edit
            $('.modal').on('hidden', function () {
                load_pane();
            })


        });
    </script>


{% endblock %}